.catalog {
  grid-template: repeat(5, 20%) / repeat(2, 50%);
}

/* item width is based on grid-template measures taken from catalog */

.card {
  grid-template: repeat(5, 20%) / repeat(2, 50%);
  gap: 0 5px;
}

.picture {
  grid-column: 1 / 1;
  grid-row: 1 / span 6;
}

.title,
.author,
.price,
.more,
.bag {
  grid-column: 2 / 2;
}

.title {
  grid-row: 1 / 1;
}

.author {
  grid-row: 2 / 2;
}

.price {
  grid-row: 4 / 4;
}

.more,
.bag {
  grid-row: 5 / 5;
  align-self: center;

  width: 35%;
}

.more {
  justify-self: start;
}

.bag {
  justify-self: end;
}

.b-description {
  width: 275px;

  background-color: #39f;
}

.b-description-position {
  top: 95%;
  left: 55%;

  z-index: 1;
}
