.f-col {
  display: flex;
  flex-direction: column;
}

.f-col-center {
  align-items: center;
}

.grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-auto {
  margin: auto;
}

.nobullets {
  list-style: none;

  padding: 0;
  margin: 0;
}

.t-center {
  text-align: center;
}
